html,
body {
  margin: 0;
  height: 100%;
}
.c {
  height: 100%;
  width: 100%;
}

.d {
  display: flex;
  height: 100%;
}
/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

.sidebar {
  width: 120px;
  background-color: black;
  border: black;
  border-radius: 9%;
  /* pxالعرض هنا يجب ان يكون 120 */
}

.header {
  height: 20%;
  background-color: blue;
  border: blue;
  border-radius: 7px;
  /* pxالطول هنا يجب ان يكون 80 */
}

.main {
  height: 80%;
  background-color: cyan;
  border: cyan;
  border-radius: 7px;
}

a {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  color: gold;
}
/* اجعل شكل اللنك من غير خط اسفل الكلام */

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */

h1 {
  margin: 0;
  margin-right: 5px;
}

h2 {
  margin: 0;
  margin-left: 5px;
}
